{% extends '::base.html.twig' %}

{% block body_content %}
    
    <div class="img-responsive aviso-legal">

        <strong>{% trans from "legal" %}AVISO LEGAL{% endtrans %}</strong><br><br>        

        {% trans from "legal" %}Para dar cumplimiento con lo establecido en los artículos 9 y 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, a continuación se indican los datos de información general de este sitio web{% endtrans %}:<br><br>

        <strong>{% trans from "legal" %}Titular{% endtrans %}:</strong> RISING S.C.P.<br>
        <strong>{% trans from "legal" %}Dirección{% endtrans %}:</strong> {% trans from "legal" %}C/ Princesa Tenesoya 75, 35118, Cruce de Arinaga, Agüimes, Las Palmas.{% endtrans %}<br>
        <strong>{% trans from "legal" %}Correo electrónico{% endtrans %}:</strong> info@rising.es<br>
        <strong>{% trans from "legal" %}CIF{% endtrans %}:</strong> J76167253<br><br>

        <strong>{% trans from "legal" %}CONDICIONES DE USO{% endtrans %}</strong><br><br>

        1. {% trans from "legal" %}RECONOCIMIENTO Y ACEPTACIÓN DE LAS CONDICIONES DEL SERVICIO{% endtrans %}<br><br>

        1.1 {% trans from "legal" %}RISING SCP (en adelante RISING), compañía española con domicilio en Calle Princesa Tenesoya nº75, 35118, Cruce de Arinaga, Agüimes, Las Palmas, España y C.I.F. J76167253 es titular de los productos y servicios ofrecidos a través del sitio web scores.rising.es (en adelante, los SERVICIOS).{% endtrans %}<br><br>

        1.2 {% trans from "legal" %}Los SERVICIOS se brindan y se prestan al usuario en virtud de los términos y condiciones del presente Acuerdo de Términos y Condiciones de uso de los SERVICIOS y de conformidad con las normas de proceso y disposiciones publicadas periódicamente por RISING rigiendo las relaciones contractuales entre ésta y los clientes.{% endtrans %}<br><br>

        1.3 {% trans from "legal" %}RISING está facultada para modificar en todo momento las Condiciones Generales de Uso. Así mismo, se comunicará a los clientes los cambios que se produzcan en las Condiciones Generales mediante notificación que será publicada en el blog de la empresa (rising.es/blog, en adelante el BLOG). El cliente tiene la posibilidad de oponerse por escrito (por ejemplo, carta o email) a la modificación dentro de un plazo de seis semanas tras la publicación de la notificación de modificación, sin que haya de declarar sus motivos. Si el cliente no se opone a las modificaciones dentro de este plazo, se entenderá que ha dado su consentimiento. RISING advertirá específicamente al cliente de esta consecuencia en la notificación de modificación.{% endtrans %}<br><br>

        1.4 {% trans from "legal" %}El uso de cualesquiera de los productos o servicios ofrecidos a través de scores.rising.es (en adelante, la WEB o PLATAFORMA) supone la aceptación expresa de los presentes términos y condiciones. Las presentes condiciones generales resultan aplicables a las adquisiciones de productos por parte de los consumidores.{% endtrans %}<br><br>

        1.5 {% trans from "legal" %}El presente documento supone el acuerdo completo entre el usuario y RISING y prevalece sobre cualquier acuerdo anterior suscrito por las partes en relación con el objeto del presente Contrato.{% endtrans %}<br><br>

        2. {% trans from "legal" %}CELEBRACIÓN DEL CONTRATO{% endtrans %}<br><br>

        {% trans from "legal" %}La relación contractual con RISING en relación con la utilización de la WEB se perfecciona con la confirmación por parte de RISING del alta de registro en la PLATAFORMA como cliente o como beta tester de la aplicación ofrecida por la WEB (en adelante, la APLICACIÓN), surtiendo desde ese momento plenos efectos. Del mismo modo, también se perfecciona dicha relación con la descarga de la APLICACIÓN, aunque el usuario no se haya identificado ni registrado en la PLATAFORMA. Esta descarga de la APLICACIÓN perfeccionará la relación contractual con RISING en relación con la utilización de la APLICACIÓN.{% endtrans %}<br><br>

        3. {% trans from "legal" %}DESCRIPCIÓN DE LOS SERVICIOS{% endtrans %}<br><br>

        3.1. {% trans from "legal" %}DESCRIPCIÓN DE LA WEB{% endtrans %}<br><br>

        {% trans from "legal" %}La WEB facilita al usuario diversa información puesta a disposición por RISING, así como presta los siguientes servicios{% endtrans %}:<br><br>

        <ul>
            <li>{% trans from "legal" %}Un enlace que lleva al usuario a la página de descarga de la APLICACIÓN.{% endtrans %}</li>
            <li>{% trans from "legal" %}Un formulario mediante el cual el usuario puede crear una cuenta de beta tester que le permite acceder a la APLICACIÓN.{% endtrans %}</li>
            <li>{% trans from "legal" %}Un formulario mediante el cual el usuario puede contactar con RISING.{% endtrans %}</li>
        </ul><br>

        {% trans from "legal" %}La prestación de los servicios de la PLATAFORMA enunciados anteriormente tiene carácter gratuito.{% endtrans %}<br><br>

        3.1.1. {% trans from "legal" %}ENLACE A LA PÁGINA DE DESCARGA{% endtrans %}<br><br>

        3.1.1.1. {% trans from "legal" %}RISING ofrece en su WEB un enlace que permite al usuario acceder a la página de descarga de la APLICACIÓN, sin restricciones de ningún tipo.{% endtrans %}<br><br>

        3.1.1.2. {% trans from "legal" %}La página de descarga de la APLICACIÓN se encuentra alojada en servidores de terceros. Por tanto, RISING no se responsabiliza de los fallos técnicos o incompatibilidades que se puedan derivar de esta circunstancia.{% endtrans %}<br><br>

        3.1.2. {% trans from "legal" %}FORMULARIO DE REGISTRO COMO BETA TESTER{% endtrans %}<br><br>

        3.1.2.1. {% trans from "legal" %}RISING ofrece en su WEB un formulario que permite al usuario crear una cuenta en la WEB como beta tester. La cuenta de beta tester permite al usuario acceder en exclusiva a la APLICACIÓN.{% endtrans %}<br><br>

        3.1.2.2. {% trans from "legal" %}Los beta testers que accedan a la APLICACIÓN están facultados para informar a RISING acerca de todos los fallos de funcionamiento que descubran durante su uso. Asimismo, también podrán enviar sugerencias u opiniones personales sobre aquellos aspectos de la APLICACIÓN que consideren que pueden ser añadidos, modificados o eliminados para mejorar su experiencia de uso. Para ello, podrán hacer uso de la opción habilitada para ello en la propia APLICACIÓN, del formulario de contacto disponible en la WEB o enviar un correo electrónico a info@rising.es.{% endtrans %}<br><br>

        3.1.2.3. {% trans from "legal" %}Los usuarios registrados como beta testers, en el momento de contactar con RISING, deben enviar información veraz sobre el resultado de su experiencia de uso. El incumplimiento de este requisito puede conllevar la eliminación de la cuenta de beta tester.{% endtrans %} <br><br>

        3.1.3. {% trans from "legal" %}FORMULARIO DE CONTACTO{% endtrans %}<br><br>

        {% trans from "legal" %}RISING ofrece en su WEB un formulario que permite al usuario contactar con RISING. Para ello, el usuario deberá facilitar su nombre y su correo electrónico. Este formulario se pone a disposición de los usuarios para que puedan enviar a RISING cualquier duda, sugerencia, comentario, reclamación o cualquier otra comunicación que fuere menester.{% endtrans %}<br><br> 

        3.2. {% trans from "legal" %}DESCRIPCIÓN DE LA APLICACIÓN{% endtrans %}<br><br>

        3.2.1. {% trans from "legal" %}ACEPTACIÓN DE CONDICIONES DE USO{% endtrans %}<br><br>

        {% trans from "legal" %}Al instalar la APLICACIÓN, el usuario acepta las presentes condiciones de uso.{% endtrans %}<br><br>

        3.2.2. {% trans from "legal" %}DEFINICIÓN{% endtrans %}<br><br>

        3.2.2.1. {% trans from "legal" %}La APLICACIÓN ofrece al usuario el acceso a una tienda online (en adelante, la TIENDA) desde la cual el usuario podrá adquirir las partituras existentes en el catálogo ofrecido por RISING. El usuario podrá descargar en su dispositivo las partituras que haya adquirido y las podrá utilizar de dos formas posibles: moviéndolas manualmente o automáticamente, ya sea seleccionando una velocidad de metrónomo o bien usando el micrófono del dispositivo.{% endtrans %}<br><br>

        3.2.2.2. {% trans from "legal" %}La APLICACIÓN se distribuye de forma gratuita. Además, RISING publicará actualizaciones periódicas de la APLICACIÓN que tampoco devengarán coste alguno por parte del usuario.{% endtrans %}<br><br>

        3.2.3. {% trans from "legal" %}PROTECCIÓN DE DATOS{% endtrans %}<br><br>

        {% trans from "legal" %}Cualquier información personal que se facilite a RISING durante el uso de la APLICACIÓN se utilizará únicamente en conformidad con la{% endtrans %} <a href="{{ path('smartscores_politica_privacidad_en') }}">{% trans from "legal" %}política de privacidad{% endtrans %}</a> {% trans from "legal" %}de RISING.{% endtrans %}<br><br>

        3.2.4. {% trans from "legal" %}USO DEL MICRÓFONO{% endtrans %}<br><br>

        {% trans from "legal" %}El uso del micrófono está limitado exclusivamente a la finalidad de mover automáticamente las partituras que el músico esté usando. RISING, en ningún caso y bajo ningún concepto, hará uso del micrófono para recoger información personal sobre el usuario.{% endtrans %}<br><br>

        3.2.5. {% trans from "legal" %}LICENCIA Y DERECHOS DE PROPIEDAD{% endtrans %}<br><br>
        
        3.2.5.1. {% trans from "legal" %}Todas las marcas, derechos de autor, bases de datos y otros derechos de propiedad intelectual de la APLICACIÓN, cualquiera que sea su naturaleza, así como el código fuente, son propiedad de RISING.{% endtrans %}<br><br>

        3.2.5.2. {% trans from "legal" %}Por el presente, RISING ofrece una licencia revocable, gratuita, no exclusiva y de carácter internacional para utilizar esta APLICACIÓN en el ámbito personal o profesional dentro de los límites establecidos por estas condiciones de la APLICACIÓN.{% endtrans %}<br><br>

        3.2.6. COPYRIGHT<br><br>

        3.2.6.1. {% trans from "legal" %}RISING no es propietaria de los derechos de autor de ninguna de las partituras comercializadas a través de la TIENDA. Todos los derechos de autor de dichas partituras corresponden a sus respectivos autores y editores.{% endtrans %}<br><br>

        3.2.6.2. {% trans from "legal" %}El precio que RISING aplica a las partituras que comercializa en su TIENDA corresponde al trabajo invertido por RISING en digitalizar dicha partitura e incorporarla a su tienda. En ningún momento RISING percibirá ninguna retribución por derechos de autor correspondientes a partituras que no sean propiedad de RISING.{% endtrans %}<br><br>

        3.2.7. {% trans from "legal" %}CONDICIONES DE USO{% endtrans %}<br><br>

        3.2.7.1. {% trans from "legal" %}El usuario no actuará ni permitirá que terceras personas actúen en su nombre para{% endtrans %}:<br><br>

        <ul>
            <li>{% trans from "legal" %}Hacer y distribuir copias de la APLICACIÓN{% endtrans %}</li> 
            <li>{% trans from "legal" %}Intentar copiar, reproducir, alterar, modificar, hacer ingeniería inversa, desarmar, descompilar, transferir, intercambiar o traducir la APLICACIÓN{% endtrans %}</li>            <li>{% trans from "legal" %}Crear ninguna clase de proyecto derivado de la APLICACIÓN.{% endtrans %}</li>
        </ul><br>

        3.2.7.2. {% trans from "legal" %}La APLICACIÓN se entrega al usuario de manera gratuita para su uso personal y no comercial. RISING se reserva el derecho a modificar o deshabilitar la APLICACIÓN en cualquier momento con el fin de protegerla frente a las acciones listadas en el apartado anterior.{% endtrans %}<br><br>

        3.2.7.3. {% trans from "legal" %}El usuario acepta que los términos del acuerdo con el proveedor de su red móvil («Proveedor de Servicios Móviles») continuarán en vigor durante el uso de la APLICACIÓN. En consecuencia, es posible que el Proveedor de Servicios Móviles cobre por los servicios de conexión a la red mientras la APLICACIÓN permanezca conectada a la red, o que se produzcan cargos económicos de terceros. El usuario acepta la responsabilidad de los cargos que pudieran surgir.{% endtrans %}<br><br>

        3.2.7.4. {% trans from "legal" %}Si el usuario no es el titular de facturación del teléfono o dispositivo móvil utilizado para acceder a la APLICACIÓN, se asumirá que tiene permiso del titular para utilizar la APLICACIÓN.{% endtrans %}<br><br>

        3.2.8. {% trans from "legal" %}DISPONIBILIDAD{% endtrans %}<br><br>

        3.2.8.1. {% trans from "legal" %}La APLICACIÓN está disponible para los dispositivos móviles portátiles que funcionen con los sistemas operativos Android OS. RISING hará todos los esfuerzos razonables para que la APLICACIÓN esté disponible en todo momento. No obstante, el usuario acepta que la entrega de la APLICACIÓN se realizará a través de internet y de las redes móviles y que, en consecuencia, la calidad y disponibilidad de la APLICACIÓN pueden verse afectadas por factores ajenos al control responsable de RISING.{% endtrans %}<br><br>

        3.2.8.2. {% trans from "legal" %}Para poder utilizar la APLICACIÓN, el usuario debe tener un dispositivo móvil compatible, con conexión a internet y que cumpla las especificaciones mínimas («Requisitos del software»).{% endtrans %}<br><br>
    
        3.2.8.3. {% trans from "legal" %}Los requisitos del software son los siguientes: Dispositivos Android OS con los sistemas operativos Android OS 4.1 a OS 4.4. Idiomas: español e inglés. En dispositivos con lenguaje no soportado por la aplicación, ésta se mostrará en inglés.{% endtrans %}<br><br>

        3.2.9. {% trans from "legal" %}ELIMINACIÓN DE LA CUENTA{% endtrans %}<br><br>

        3.2.9.1. {% trans from "legal" %}El usuario está facultado para dar de baja su cuenta en cualquier momento a través de la herramienta que se ofrece en la APLICACIÓN para tal fin, y sin necesidad de notificación previa a RISING.{% endtrans %}<br><br> 

        3.2.9.2. {% trans from "legal" %}La eliminación de la cuenta por parte del usuario es un proceso irreversible que tiene como consecuencia la eliminación de toda la información relativa al usuario contenida en la base de datos de RISING. Esta información incluye el registro de las compras efectuadas por el usuario en la TIENDA.{% endtrans %}<br><br> 

        3.2.9.3. {% trans from "legal" %}La eliminación de la cuenta por parte del usuario supone la pérdida tanto del saldo que tuviera acumulado en su cuenta, como de las partituras que tuviera descargadas en su dispositivo, así como el fin de su relación contractual con RISING.{% endtrans %}<br><br>  

        3.2.10. {% trans from "legal" %}FINALIZACIÓN{% endtrans %}<br><br>

        3.2.10.1. {% trans from "legal" %}RISING puede finalizar el uso de la APLICACIÓN en cualquier momento previa notificación, que será publicada en su BLOG.{% endtrans %}<br><br>

        3.2.10.2. {% trans from "legal" %}En caso de que se produzca dicha finalización, RISING se compromete a reembolsar el importe monetario invertido por el usuario en la APLICACIÓN. Si la situación económica de RISING impidiera hacer frente a la totalidad de dicho reembolso, RISING devolverá el máximo posible.{% endtrans %}<br><br>

        3.2.10.3. {% trans from "legal" %}Al finalizar dicho uso, también se pondrá fin a todos los derechos y licencias otorgados al usuario, lo que significa que el usuario deberá dejar de utilizar el software.{% endtrans %}<br><br>

        4. {% trans from "legal" %}PROPIEDAD INTELECTUAL E INDUSTRIAL{% endtrans %}<br><br>

        4.1. {% trans from "legal" %}Los derechos de propiedad intelectual e industrial contenidos en la WEB, su diseño gráfico y códigos informáticos, así como los nombres comerciales, marcas y signos distintivos son titularidad de RISING, salvo que en las mismas se indique que pertenecen a otro titular.{% endtrans %}<br><br>

        4.2. {% trans from "legal" %}Cualquier reproducción, distribución, comercialización o transformación de los contenidos que no haya sido expresamente autorizada por sus titulares, constituye una infracción de los derechos de propiedad intelectual e industrial protegidos por la Ley.{% endtrans %}<br><br>

        5. {% trans from "legal" %}CONTENIDO Y USO ADECUADO{% endtrans %}<br><br>

        5.1. {% trans from "legal" %}RISING garantiza que todos los contenidos y servicios que se ofrecen en la WEB respetan el principio de dignidad de la persona, el principio de no-discriminación por motivos de raza, sexo, religión, opinión, nacionalidad, discapacidad o cualquier otra circunstancia personal y social, así como el principio de protección de la juventud y de la infancia.{% endtrans %}<br><br>

        5.2. {% trans from "legal" %}Asimismo, el usuario se compromete a realizar un buen uso de los contenidos y servicios de la WEB, que nunca podrán ser utilizados para actividades ilícitas, o que puedan ser contrarias al orden público, la defensa nacional o la salud pública. Cualquier utilización por parte del USUARIO de los contenidos y servicios habrá de respetar los principios indicados en el párrafo anterior.{% endtrans %}<br><br>

        6. {% trans from "legal" %}PROTECIÓN DE DATOS PERSONALES{% endtrans %}<br><br>

        6.1. {% trans from "legal" %}RISING garantiza la seguridad y confidencialidad de los datos facilitados por el usuario, cumpliendo con lo dispuesto en la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal y conforme al compromiso que adquiere al aplicar su Política de Privacidad.{% endtrans %}<br><br>

        6.2. {% trans from "legal" %}Los datos que el usuario facilite en el curso de su navegación, cumplimentación de formularios y uso de la WEB serán incorporados a un fichero responsabilidad de RISING, con domicilio en Calle Princesa Tenesoya nº75, 35118, Cruce de Arinaga, Agüimes, Las Palmas, Islas Canarias, España, quien los tratará directamente o a través del encargado que se designe con arreglo a la legislación vigente y con las finalidades de información, estadísticos y comercialización, así como para la realización de actividades promocionales y publicitarias mediante cualquier medio, incluso por medios electrónicos (incluyendo SMS, MMS, etc.), de los productos ofrecidos en el sitio web o por otras empresas de RISING, que puedan ser de interés del usuario para ampliar y mejorar los productos de RISING.{% endtrans %}<br><br>

        6.3. {% trans from "legal" %}Todos los detalles sobre la naturaleza y el alcance de los datos recogidos y almacenados así como de su utilización se pueden leer en la declaración de{% endtrans %} <a href="{{ path('smartscores_politica_privacidad_en') }}">{% trans from "legal" %}política de privacidad{% endtrans %}</a> {% trans from "legal" %}y protección de datos.{% endtrans %}<br><br>

        7. {% trans from "legal" %}DURACIÓN Y TERMINACIÓN{% endtrans %}<br><br>

        7.1. {% trans from "legal" %}La prestación de los servicios de la PLATAFORMA y de la APLICACIÓN tiene una duración indefinida. RISING, no obstante, está facultada para dar por terminada, suspender o interrumpir unilateralmente, en cualquier momento y sin necesidad de preaviso, la prestación del servicio de la APLICACIÓN o de cualquiera de los SERVICIOS.{% endtrans %}<br><br>

        7.2. {% trans from "legal" %}En caso de que se produzca la terminación de los servicios prestados por la APLICACIÓN, RISING se compromete a reembolsar el importe monetario invertido por el usuario en la APLICACIÓN. Si la situación económica de RISING impidiera hacer frente a la totalidad de dicho reembolso, RISING devolverá el máximo posible.{% endtrans %}<br><br>

        7.3. {% trans from "legal" %}La condición de usuario registrado en los servicios prestados a través de la PLATAFORMA o de la APLICACIÓN supone la creación de un vinculo contractual especial entre el usuario y RISING que se ejecuta con carácter indefinido, por lo que cualquiera de las partes podrán denunciar el mismo en cualquier momento sin previo aviso notificándolo por escrito o por correo electrónico o a través de las herramientas puestas a disposición en la PLATAFORMA para tal fin.{% endtrans %}<br><br>

        7.4. {% trans from "legal" %}RISING se reserva el derecho de acceder con carácter temporal al registro de uso habido, con objeto de aclarar indicios de uso incorrecto de la PLATAFORMA o de la APLICACIÓN, pudiendo desactivar temporalmente o incluso de forma permanente su cuenta y, en consecuencia, la relación contractual, en los siguientes casos{% endtrans %}:<br><br>

        <ul>
            <li>{% trans from "legal" %}Cuando los datos aportados en el registro sean falsos o incompletos.{% endtrans %}</li>
            <li>{% trans from "legal" %}Por duplicidad de cuentas registradas por un mismo usuario.{% endtrans %}</li>
            <li>{% trans from "legal" %}Por un uso excesivo e inusual de los SERVICIOS que suponga un gasto desproporcionado para el usuario.{% endtrans %}</li>
            <li>{% trans from "legal" %}Por un incorrecto uso malintencionado de la PLATAFORMA, de la aplicación o de cualquiera de sus SERVICIOS.{% endtrans %}</li>
            <li>{% trans from "legal" %}Por la violación de las presentes disposiciones contenidas en los términos y condiciones.{% endtrans %}</li>
            <li>{% trans from "legal" %}Cuando los derechos legales o derechos de terceros son violados o vulnerados.{% endtrans %}</li>
            <li>{% trans from "legal" %}En el caso de cualquier interés legítimo de RISING en general y, en particular, para proteger los derechos de los demás usuarios.{% endtrans %}</li>
        </ul><br>

        8.{% trans from "legal" %}JURISDICCION Y LEGISLACION APLICABLE{% endtrans %}<br><br>

        8.1 {% trans from "legal" %}Las presentes Condiciones de Uso se regirán por lo dispuesto en la legislación española.{% endtrans %}<br><br>

        8.2 {% trans from "legal" %}En el caso de que se produzca cualquier discrepancia o controversia con motivo de la interpretación o la aplicación de las presentes Condiciones de Uso, RISING y el CLIENTE, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se someten a la jurisdicción de los Juzgados y Tribunales del domicilio de RISING. Y en el supuesto de que el USUARIO tenga su domicilio fuera de España, RISING y el USUARIO, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se someten a la jurisdicción de los Juzgados y Tribunales de Las Palmas.{% endtrans %}<br><br>

	8.3 {% trans from "legal" %}En el caso de que se produzca una mala interpretación provocada por una traducción de las presentes Condiciones de Uso, o cualquier otro documento de la WEB, prevalecerá en todo momento el documento original, en este caso escrito en español.{% endtrans %}<br><br> 
    </div>

{% endblock %}
