<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
        <meta name='Scores' content='Billing Scores'>
    </head>
    <body style='background:#DDDDDD; font-family:arial'>
        <div style='background:#FAFAFA; padding:15px; width:450px; margin:0px auto; margin-top:50px'>
            <img src='http://www.scores.rising.es/img/logo.png' style="width:250px; height:70px; padding-left:100px"/>
            <div style="font-size: 12px">
                <p style="font-size: 15px">Thank you very much</p></br>
                <p>At {{ date }} you have acquired a product in Scores: </p></br></p></br></br></br></br>
		<p></br></br></br></br></p><p></br></br></br></br></p>
		
		<table style="font-size: 15px">
			<tr>
			  <td><strong>Product</strong></td>
			  <td><strong>Price</strong></td>
			</tr>
			 
			<tr>
			  <td>{{ producto }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
			  <td>{{ precio }}€ </td>
			</tr>

			<tr>
			   <td></td>
			   <td>Total: {{ precio }}€ </br>(Taxes includes)</td>
			</tr>

		</table></br></br></br></br>
		</br></br></br></br>
		<p>We want to give you infinite thanks for trusting us to purchase your scores. Hope you enjoy 
doing the best you know do, music</p></br></br>

            </div></br></br></br></br>
            <div>Scores' team<br><a  href='mailto:info@rising.es'>info@rising.es</a></div>
        </div>
    </body>
</html>
