{% extends '::base-en.html.twig' %}

{% block body_content %}
    {% if errors|length > 0 %}
        <ul class="alert-error">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{{ path('smartscores_new_password',{'token': token}) }}" method="POST">
        <input type="password" name="newPass" id="newPass" class="form-control textField" placeholder="{% trans from "new_pass" %}Nueva contraseña {% endtrans %}" required><br>
        <input type="password" name="newPassRepeat" class="form-control textField" placeholder="{% trans from "new_pass" %}Repetir contraseña{% endtrans %}" oninput="check(this)" required><br>
        <input type="submit" class="formButton" value="{% trans from "new_pass" %}Guardar{% endtrans %}">
    </form>

    <script language='javascript' type='text/javascript'>
        function check(input) {
            if (input.value != document.getElementById('newPass').value) {
                input.setCustomValidity('{% trans from "new_pass" %}Las contraseñas no coinciden{% endtrans %}')
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('')
            }
        }
    </script>
{% endblock %}
