<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
        <meta name='Scores' content='Registro SmartScores'>
    </head>
    <body style='background:#DDDDDD; font-family:arial'>
        <div style='background:#FAFAFA; padding:15px; width:450px; margin:0px auto; margin-top:50px'>
            <img src='http://www.scores.rising.es/img/logo.png' style='width:150px; height:69px'/>
            <div style='font-size: 18px'>
                <p>{% trans from "retrieve_pass" %}Estimad@ usuari@{% endtrans %}: </p>
                <p>{% trans from "retrieve_pass" %}Este correo electrónico ha sido enviado automáticamente desde Scores. Si has recibido este mensaje es porque deseas recuperar tu contraseña. Hemos generado automáticamente un enlace para ti{% endtrans %}:</p>
                <a target='_blank' href='http://www.scores.rising.es/nueva-clave/{{ token }}'>http://www.scores.rising.es/nueva-clave/{{ token }}</a>
                <p>{% trans from "retrieve_pass" %}Haciendo clic en este enlace podrás cambiar tu contraseña. Este enlace será válido durante las próximas 48 horas.{% endtrans %}</p>
            </div>
            <div>{% trans from "retrieve_pass" %}El equipo de Rising Scores{% endtrans %}<br><a href='mailto:info@smartscores.es'>info@scores.rising.es</a></div>
        </div>
    </body>
</html>
