parameters:
    database_driver:   pdo_mysql
    database_host:     db504722270.db.1and1.com
    database_port:     ~
    database_name:     db504722270
    database_user:     dbo504722270
    database_password: smartscores2013

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   //Cambiar contraseña

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
